@model mvcApp.Dto.ProductDto

<form class="container d-flex justify-content-center align-items-center vh-100" asp-action="CreateProduct">
    <div class="card shadow p-4" style="width: 500px;">
        <h3 class="text-center mb-4">Update Product</h3>

        <!-- Product Name -->
        <div class="mb-3">
            <label for="name" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="name" name="ProductName" asp-for="ProductName" placeholder="Enter product name" required>
        </div>

        <!-- Colour -->
        <div class="mb-3">
            <label for="colour" class="form-label">Colour</label>
            <input type="text" class="form-control" id="colour" name="color" asp-for="Color" placeholder="Enter colour" required >
        </div>

        <!-- Description -->
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" asp-for="Description" rows="3" placeholder="Enter description" required></textarea>
        </div>

        <!-- Price -->
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" name="price" asp-for="Price" placeholder="Enter price">
        </div>
        <input type="hidden" name="ID" asp-for="ID"/>
        <!-- Buttons -->
        <div class="d-flex justify-content-between">
            <button type="reset" class="btn btn-secondary">Reset</button>
            <button type="submit" class="btn btn-success" asp-action="UpdateProduct">Update Product</button>
        </div>
    </div>
</form>
